* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 120vh;
    background-color: #fff;
}

.div_contenue {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.contenue {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

nav {
    width: 100%;
    height: 16vh;

}

.nav_haut {
    height: 53%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 8rem;
    height: 5rem;
    cursor: pointer;
}

.logo_user {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo_user img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: maroon;
    cursor: pointer;
}

.ligne {
    width: 100%;
    height: 50%;
    border-bottom: 2px solid  #ee6d18;
}

.nav_bas {
    width: 100%;
    height: 48%;
    display: flex;
    justify-content: space-between;
    background-color:  #ee6d18;
}

.div_classement {
    width: 14%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_classement span {
    font-weight: 700;
}

.div_classement i {
    font-size: 18px;
}
.div_classement a{
 text-decoration: none;
 color: #fff;
}

.div_timer {
    width: 10rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    font-size: 19px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    font-weight: 700;
    color: #1f954d;
}

.div_levels_keys {
    width: 14%;
    height: 100%;
    display: flex;
}

.div_level {
    width: 50%;
    height: 100%;
    display: flex;
}

.div_level div:nth-child(1) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-right: 1px solid  #ee6d18;
}

.div_level div:nth-child(1) p:nth-child(1) {
    color: #ee6d18;
}

.div_level div:nth-child(1) span {
    color: #1f954d;
}

.div_level div:nth-child(2) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.div_level div:nth-child(2) p:nth-child(1) {
    color:  #ee6d18;
}

.div_level div:nth-child(2) span {
    color: #1f954d;
}

.div_nom {
    width: 50%;
    height: 100%;display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.page_text{
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page_text h3{
    margin-top: 8px;
}
.page_text p{
    color: rgba(0, 0, 0, 0.828);
    margin-top: 8px;
}
.div_card{
    width: 95%;
    height: 94%;
    max-width: 100%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    column-gap: 30px;
    row-gap: 80px;
    padding: 30px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.grid-item {
    width: 100%;
    height: 380px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    overflow: hidden;
    padding-top: -20px;
    background-color: #ee6d18;
}
.card_head{
    height: 50%;
    background: url(../images/3098210.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0px 0px 19px 19px;
}
.card_bas{
    margin-top: 10px;
    margin-left: 5px;
    height: 50%;
    background-color: #ee6d18;
}
.card_bas h4{
   font-weight: 700;
   font-size: 18px;
   color: #fff;
   padding-bottom: 10px;
}
.card_bas {
    color: #fff;
    font-size: 13px;
 }
/*  ------------Affichage Exercise-------------- */
 .blur_body{
    position: fixed;
    top: 0;
    left: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
 }
 .voir-challenge{
    flex-direction: column;
    border: 2px solid green;
    border-radius: 10px;
    background: #f1f1f1;
    justify-content: center;
    text-align: center;
    width: 70rem;
    height: 40rem;
    display: block;
 }
 .voir-challenge .titre-challenge{
   width: 100%;
   height: 10%;
   display: flex;
   justify-content: space-between;
   padding-right: 20px;
   align-items: center;
 }
.titre-bg{
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f954d;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    display: flex;
    letter-spacing: 1px;
}
.contenue-challenge{
    display: flex;
    justify-content: center;
   text-align: center;
    width: 100%;
    height: 50%;
}
.contenue-challenge p{
    width: 95%;
    letter-spacing: 1px;
}
.soumettre-challenge{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.challenge-left input{
border: 2px solid #ff6f00;
border-radius: 2px;
width: 14rem;
height: 2rem;
padding: 5px;
margin-right: 10px;
outline: none;
}
.challenge-left button{
    border: none;
    border-radius: 5px;
    width: 9.5rem;
    height: 2rem;
    padding: 5px;
    margin-right: 10px;
    outline: none;
    background-color: green;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase ;
    cursor: pointer;
    }
.challenge-right a i{
color: green;
font-size: 40px;
}
.titre-challenge i{
    font-size: 25px;
    color: #ff6f00;
    cursor: pointer;
}
.div_fermer{
    width: 40%;
    display: flex;
    justify-content: end;
}
.div_exo{
    width: 60%;
    display: flex;
    justify-content: flex-end;
}